body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 1rem;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style-type: none;
}

h2 {
	margin: 0;
}

h6 {
	margin: 0;
}

h1,
h6 {
	font-family: shrikhand, Roboto, sans-serif;
}

body,
html {
	font-family: "Roboto", sans-serif;
}

/*Page_ principale*/

.loader {
	background: -webkit-linear-gradient(#ffffff, #ff79da, #9356dc);
	width: 100%;
	position: fixed;
	height: 100%;
	line-height: 100%;
	font-family: Shrikhand, sans-serif;
	font-size: x-large;
	vertical-align: middle;
	text-align: center;
	z-index: 9999;
	top: 0;
	left: 0;
	pointer-events: none;
	animation: loader 1s ease-in-out 2s forwards;
}

.loader_food {
	vertical-align: middle;
	position: absolute;
	top: 40%;
	left: 40%;
}
@media screen and (min-width: 768px) {
	.loader_food {
		top: 40%;
		left: 35%;
	}
}
@media screen and (min-width: 1280px) {
	.loader_food {
		top: 40%;
		left: 45%;
	}
}

.loader_fork {
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 50%;
	animation: rotate 1s linear infinite;
	align-items: center;
}
.loader__food span {
	display: inline-block;
	width: 5px;
	height: 20px;
	padding-right: 1em;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes loader {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}
